body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke       ;
    
}
.nav{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 999;
    margin-right: 60px;
    background-image: 
    radial-gradient(circle at 50% 50%
    rgba(20,255,180,0.1) 0%
rgba(0,0,0,0)100%)
linear-gradient(135deg,#000 0%,#000000 100%);

}

.container{
    height: 70px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container img{
    height: 80px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
li{
    padding: 8px 16px;
    font-weight: bold;
    text-transform: uppercase;

}
a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
a:hover{
    color: blueviolet;
}
a:active{
    color: red;
    opacity: 0.7;
    transition: 0.15s ease-in-out;
}
.contact-form{
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color:grey;
  margin-top: 70px;
 border: 3px solid black;

}
input{
    background-color: white;
    width: 70%;
    margin-left: 10%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}
.box{
display: flex;
flex-direction: column;
 

}
.box textarea{
   background-color: white;
    width: 70%;
    margin-left: 12%;
padding: 16px 16px;
    border-color: #000;
    border-radius: 10px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 20px;
    padding-right: 5px;

}
.box textarea{
height: 120px;
resize: none;
}
.submit{
    color: white;

    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 20px;
}
.submit :hover{
    background-color: orange;
}