body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
h1{
    position: fixed;
    height: 70px;
    right: 0;
    left: 0;
    background-color: red;
    box-sizing: border-box;
    box-shadow: 0 17px 59px 11px rgba(63,0,199,0.62);
}
 h1{
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:yellowgreen;
    background-image: -webkit-linear-gradient(
        0deg
       );
    }
ul{
    position: relative;
    height: 70px;
    left: 810px;
}
li{
    display: inline-block;
    margin-left: 5px;
    width: 90px;
    height: 40px;
    padding-top: 25px;
    font-weight: bold;
   
    text-align: center;
    text-transform: uppercase;
}
a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: none;
}
a:hover{
background-color: red;
box-shadow: 0px 0px 400px 86px #a481ff;
text-decoration: underline white;
}
