body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    /* box-shadow: 0 17px 59px 11px rgba(63,0,199,0.62); */
    z-index: 999;
}

.obj {
    height: 100%;
    width: 100%;
    /* height: 1000px; */
    
}

.obj img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec1 {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-image: url("https://th.bing.com/th/id/R.05d555155a14fc325fc79711e7773d8f?rik=yM82zTGXdO%2btNw&pid=ImgRaw&r=0");
    background-repeat: no-repeat; */
    /* background-size: 1900px 1000p; */
}
.title-span {
    color: #a481ff;
}
.cont {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%   ;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    width: 1200px;
}
.img-cont {
    width: 600px;
    height: 500px;
}

.img-cont img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    left: 0;
    background-color: black;
}
.container {
    height: 70px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container img {
    height: 80px;
}
.nav {
    width: 100%;
}
h1{

    /* background-color: black;
    box-sizing: border-box;
    box-shadow: 0 17px 59px 11px rgba(63,0,199,0.62);
    text-align: justify; */
    margin: 0;

}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}
li{
    padding: 8px 16px;
    font-weight: bold;
    text-transform: uppercase;
}
a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
a:hover{
color: #a481ff;
}
a:active{
    color: red;
    opacity: 0.7;
    transition: 0.15 ease-in-out;
}

