body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
   
    
    
}
.nav{
height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
   z-index: 999;
}
ul{
    display: flex;
 
    align-items: center;

height: 70px;
justify-content: space-between;
margin-right: 13px;


 
}
li{

    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px ;

}
a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    transition: 0.4 ease-in-out;
}
a:hover{
 color: #a481ff;
}
.container{
    height: 70px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container img{
    height: 80px;
}
.menu{
    color: black;
}
a:active{
    opacity: 0.7;
    color: red;
    transition: 0.1s;
    
    

}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 90px;
}
.cont{
    width: 30%;
}
.cont h4{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.cont h4 ::before{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: lawngreen;
    bottom: 0;
}
.item{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.item img{
    border-radius: 100%;
    max-width: 110px;
    border: 4px solid purple;
    padding: 5px;
    margin-right: 15px;

}
.item :hover{
    transform: rotate(360deg);

}
.item  .item-content p{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.item .item-content p span{
    color: red;
    float: right;
    font-weight: 600;
    font-style: italic;
}
.obj{
    width: 100%;
    height: 100%;
}
.obj img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    opacity: 0.6;
    width: 190;
}